# Ignore Gradle project-specific cache directory
.gradle/

# Ignore Gradle build output directory
build/

# Ignore intellij settings
.idea/
out/

# Ignore temporary test-data directories
protocols/
temp/

# Ignore developer settings
*-*local.yml
*-*local.yaml